.form-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(135deg, #a1c4fd, #fbc2eb);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 18px;
}

.form-container h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.form-container h2 {
    font-size: 30px;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

#title,
#writer {
    font-size: 18px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#content {
    height: 400px;
    font-size: 18px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

textarea {
    resize: none;
    height: 200px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d8b40;
}

button.list-btn:hover {
    background: #e61e8c93;
}

/* 페이지 css */
/* 페이지 액티브 기능 */
.pagination .page-item.p-active a {
    background: #333 !important;
    color: #fff !important;
    cursor: default;
    pointer-events: none;
}

.pagination .page-item:hover a {
    background: #888 !important;
    color: #fff !important;
}

.spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

/* 좋아요 싫어요 */
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.reaction-buttons {
    flex: 7;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    gap: 10px;
}

.reaction-buttons button {
    font-size: 18px;
    padding: 8px 16px;
    border: 2px solid #4caf50;
    background-color: #fff;
    color: #4caf50;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.reaction-buttons button:hover {
    background-color: #3d8b40;
}

.reaction-buttons .dislike-btn {
    color: #f44336;
    border: 2px solid #f44336;
}

.reaction-buttons .dislike-btn:hover {
    background-color: #d32f2f;
}

button.list-btn {
    background: #e61e8c;
    flex: 1;
}

.reaction-buttons .active {
    background-color: #4caf50;
    color: #fff;
}

.reaction-buttons .dislike-btn.active {
    background-color: #f44336;
    color: #fff;
}