.card-container {
    display: flex;
    flex-wrap: wrap;

}


.main-title-wrapper {
    position: relative;
}

.main-title-wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 70px;
}

.main-title-wrapper .add-btn {
    width: fit-content;
    padding: 10px 25px;
    background: rgb(216, 112, 147);
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 120px;
    top: 0;
    cursor: pointer;
}
.main-title-wrapper .add-btn:hover {
    background: rgba(216, 112, 147, 0.7);
}

.card-container .card-wrapper {
    position: relative;
    width: 30.3%;
    margin-right: 3%;
    height: 400px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.card-container .card {
    height: 370px;
    border-radius: 20px;
    box-shadow: 0 15px 0 #999;
    overflow: hidden;
    transition: 0.5s;
    border: 2px solid transparent;
}

.card-container .card:last-child {
    margin-right: 0;
}

.card-container .card .card-title-wrapper {
    color: #333;
}

.card-container .card-wrapper:nth-child(3n) .card-title-wrapper {
    background: aquamarine;
}

.card-container .card-wrapper:nth-child(3n - 1) .card-title-wrapper {
    background: violet;
}

.card-container .card-wrapper:nth-child(3n - 2) .card-title-wrapper {
    background: dodgerblue;
}

.card-container .card-wrapper .card-title-wrapper .card-title {
    /* width: 50%; */
    font-size: 28px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card-container .card .card-title-wrapper .time-view-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.card-container .card .card-title-wrapper .time-view-wrapper>div {
    width: fit-content;
    border-radius: 10px;
    background: #fff;
    padding: 3px 5px;
    margin-bottom: 10px;
}


.card-container .card .card-title-wrapper .time-view-wrapper i {
    margin-right: 4px;
}

.card-container .card .card-content {
    background-color: #fff;
    height: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;
    padding: 40px 25px;
}


#card-down.card-wrapper {
    transform: translateY(15px);
}
#card-down .card {
    box-shadow: none;
}

.card-container .card-hover.card {
    border: 2px solid;
}

.card-container .card-wrapper:nth-child(3n) .card-hover.card {
    border-color: aquamarine;
    box-shadow: 0 15px 0 aquamarine;
}

.card-container .card-wrapper:nth-child(3n - 1) .card-hover.card {
    border-color: violet;
    box-shadow: 0 15px 0 violet;
}

.card-container .card-wrapper:nth-child(3n - 2) .card-hover.card {
    border-color: dodgerblue;
    box-shadow: 0 15px 0 dodgerblue;
}

.card-container .card-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.card-container .card-btn-group .del-btn {
    outline: none;
    /* border: 3px solid #000; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f00;
    opacity: 0;
    color: #fff;
    font-weight: 700;
    font-size: 25px;

    cursor: pointer;
}


/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 15px;
}


.modal-buttons button {
    padding: 5px 15px;
    font-size: 20px;
}

.modal-buttons .confirm {
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}

.modal-buttons .cancel {
    color: #f5f5f5;
    background-color: #dd1111;
    border-radius: 4px;
}



/* 페이지 스타일 */
/* pagination style */
.bottom-section {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}


.pagination-custom a {
    color: #444 !important;
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
}



/* 검색창 */
.top-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.top-section .search {
    flex: 1.5;
}

.top-section .search form {
    display: flex;
}
.top-section .search form #search-type {
    flex: 1;
    width: 80px;
    margin-right: 10px;
}
.top-section .search form input[name=keyword] {
    flex: 3;
}


.top-section .amount {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-section .amount div {
    margin-left: 15px;
    padding: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-section .amount div:hover {
    border-radius: 0;
    background: coral;
}
.top-section .amount div:last-child {
    margin-right: 10%;
}
.top-section .amount div a {
    display: block;
    color: #fff;
    font-size: 1.4em;
    text-decoration: none;
}