<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.SpringStudy.springmvc.chap05.mapper.MemberMapper">
    <insert id="save">
        INSERT INTO tbl_member
        (account, password, name , email,profile_img)
        VALUES
        (#{account}, #{password}, #{name}, #{email},#{profileImg})
    </insert>
    <select id="findOne" resultType="member">
        SELECT
        account
        , password
        , name
        , auth
        , reg_date
        , profile_img
        FROM tbl_member
        WHERE account = #{account}
    </select>

    <select id="existsById" resultType="boolean">
    SELECT
    COUNT(*)
    FROM tbl_member
        <if test="type == 'account'"> WHERE account = #{keyword}</if>
        <if test="type == 'email'"> WHERE email = #{keyword}</if>
    </select>

    <update id ="updateAutoLogin">
        UPDATE TBL_MEMBER
        SET session_id = #{sessionId}, LIMIT_TIME = #{limitTime}
        WHERE ACCOUNT = #{account}
    </update>
    <select id="findMemberBySessionId" resultType="member">
        SELECT
          ACCOUNT, NAME, EMAIL, AUTH, LIMIT_TIME, profile_img
        FROM TBL_MEMBER
        WHERE SESSION_ID = #{sessionId}
    </select>
</mapper>