<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--패키지명 + 인터페이스명-->
<!--namespace에는 연결할 인터페이스의 풀네임-->
<!--설정 파일에 매퍼 등록-->
<mapper namespace="com.study.SpringStudy.springmvc.chap03.mapper.ScoreMapper">
<insert id="save">
    INSERT INTO tbl_score
    (stu_name, kor, eng, math, total, average, grade)
    VALUES (#{stuName}, #{kor}, #{eng}, #{math}, #{total}, #{average}, #{grade});
</insert>
    <select id="findAll" resultType="score">
        SELECT * FROM tbl_score
    </select>
    <select id="findOne" resultType="score">
        SELECT * FROM tbl_score
        WHERE stu_num = #{stuNum}
    </select>
    <delete id="delete">
DELETE FROM TBL_SCORE
       WHERE stu_num = #{stuNum}"
    </delete>
    <select id="findRankByStuNum" resultType="com.study.SpringStudy.springmvc.chap03.dto.RankDto">
        SELECT  A.rank, A.cnt
        FROM (SELECT *,
        RANK() OVER (ORDER BY average DESC) AS "rank",
        COUNT(*) OVER() AS cnt
        FROM tbl_score) A
        WHERE A.stu_num = #{stuNum}
    </select>
    <update id="updateScore">
        UPDATE tbl_score
        SET kor = #{kor}, eng = #{eng}, math = #{math},
        total = #{total}, average =#{average}, grade = #{grade}
        WHERE stu_num = #{stuNum}
    </update>
</mapper>